*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  html {
    scroll-snap-type: y;
  }
  section {
    scroll-snap-align: start;
    min-block-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body{
    
    min-height: 100vh;
    background: #cbccb8;
    
  }

  .main {
  scroll-snap-align: start;
  min-block-size: 100vh;
  margin-left: 25%;
  margin-right: 0;
}

p {
  font-size: 20px;
}



body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
}
  
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #39447A;
    overflow-x: hidden;
    padding-top: 20px;
   
  }
  .elements {
      margin-top: 50%;
      margin-left: 75px;
  }
 
 

  .project {
    
    min-height: 100vh;
    background: #83a8b1;
    align-items: center;
    margin: 0 auto;
   
    
  

  }
  .parent {
    display: flex;
    align-items: center;
    background: #83a8b1;
  }

  .child {
    position: relative;
    font-family: arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 250px;
    background: #A48EBB;
    border-radius: 9px;
    max-width: 31%;
    min-height: 40vh;
    width: 31%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .child p {
    position: absolute;
    bottom: 58%;
    text-align: center;
    

  }
  div.links {
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left:46%;
  }
  div.tech {
    position: absolute;
    bottom: 50px;
    text-align: center;
    margin-left:41%;
  }
  .about {
    display: flex;
    min-height: 100vh;
    background: #e7e7eb;
    padding-left: 10px;
    padding-top: 19%;
    

  }
 
  .contact {
    text-align: center;
    min-height: 100vh;
    background: #535461;
    padding-left: 10px;
    padding-top: 19%;

  }
  
  
   .topic {
    border-bottom: 2px;

  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  
  .main {
    margin-left: 25%; 
    font-size: 28px; 
    
  }

  .contact a {
    color: white;
  }
  .contact p {
    color: white;
  }
  .contact h2 {
    color: white;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width: 650px) {
    .sidenav {
        display: none;
    }
    .main {
      margin-left: 0; 
}

.parent {
  display: block;
}

.child {
  
  max-width: 82%;
 
  width: 100%;

}
.about {
  display: block;
  width: 100%;
}

}